<script src="js/jquery.min.js"></script>
<script src="js/all.js"></script>
<!--<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>-->

<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!--<script src="js/pages/dashboard.js"></script>-->

<script>
    $(function () {
        //Initialize Select2 Elements
        $(".select2").select2();

        $('.reservation').daterangepicker();
        //Date range picker with time picker
        $('.reservationtime').daterangepicker({timePicker: true, timePickerIncrement: 30, format: 'MM/DD/YYYY h:mm A'});

        $('.timepicker').timepicker({});
        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });
        //Red color scheme for iCheck
        $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
            checkboxClass: 'icheckbox_minimal-red',
            radioClass: 'iradio_minimal-red'
        });
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-green',
            radioClass: 'iradio_flat-green'
        });

        $('.datepicker').datepicker({
            autoclose: true
        });
        // oss menu
        $(".oss-sidebar-menu.mini").hover(function () {
            $(this).removeClass("mini")
        }, function () {
            $(this).addClass("mini")
        })
        $("[menuid]").click(function (e) {
            e.preventDefault();
            var id = $(this).attr("menuid");
            $("[submenuid]").removeClass("active");
            $("[submenuid=" + id + "]").addClass("active");
            $("[menuid]").removeClass("active");
            $("[menuid=" + id + "]").addClass("active");
            $(".oss-sidebar-menu").addClass("mini")
        });
        //tooltip
//        $('[data-toggle="tooltip"]').tooltip();
        $('.toogle-search-tool').click(function(){
            $(this).closest(".header-content").addClass("enable-search");
            $(this).closest(".header-content").find(".header-search-input").focus();
        });
        $('.header-search-input').blur(function () {
            $(this).closest(".header-content").removeClass("enable-search");
        })
    })
</script>