<div class="box">
    <div class="box-header">
        <div class="pull-left">
            <h4>Thư mới</h4>
        </div>
        <div class="pull-right">
            <a href="#">Hộp thư</a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table mailbox--table">
            <thead>
            </thead>
            <tbody>
            <tr >
                <td width="20">
                    <span>
                        <i class="fa fa-bookmark-o text-yellow mailbox-impotant" data-toggle="tooltip"
                           data-placement="bottom" data-original-title="Đánh dấu thư này là quan trọng"></i></span>
                </td>
                <td width="20">
                    <span><i class="fa fa-star-o text-yellow mailbox-star" data-toggle="tooltip" data-placement="bottom"
                             data-original-title="Đánh dấu sao cho thư này"></i></span>
                </td>
                <td>Austin Conner</td>
                <td>Austin Conner</td>
                <td></td>
            </tr>
            <tr >
                <td width="20">
                    <span>
                        <i class="fa fa-bookmark-o text-yellow mailbox-impotant" data-toggle="tooltip"
                           data-placement="bottom" data-original-title="Đánh dấu thư này là quan trọng"></i></span>
                </td>
                <td width="20">
                    <span><i class="fa fa-star-o text-yellow mailbox-star" data-toggle="tooltip" data-placement="bottom"
                             data-original-title="Đánh dấu sao cho thư này"></i></span>
                </td>
                <td>Austin Conner</td>
                <td>Austin Conner</td>
                <td></td>
            </tr>
            <tr >
                <td width="20">
                    <span>
                        <i class="fa fa-bookmark-o text-yellow mailbox-impotant" data-toggle="tooltip"
                           data-placement="bottom" data-original-title="Đánh dấu thư này là quan trọng"></i></span>
                </td>
                <td width="20">
                    <span><i class="fa fa-star-o text-yellow mailbox-star" data-toggle="tooltip" data-placement="bottom"
                             data-original-title="Đánh dấu sao cho thư này"></i></span>
                </td>
                <td>Austin Conner</td>
                <td>Austin Conner</td>
                <td></td>
            </tr>
            <tr >
                <td width="20">
                    <span>
                        <i class="fa fa-bookmark-o text-yellow mailbox-impotant" data-toggle="tooltip"
                           data-placement="bottom" data-original-title="Đánh dấu thư này là quan trọng"></i></span>
                </td>
                <td width="20">
                    <span><i class="fa fa-star-o text-yellow mailbox-star" data-toggle="tooltip" data-placement="bottom"
                             data-original-title="Đánh dấu sao cho thư này"></i></span>
                </td>
                <td>Austin Conner</td>
                <td>Austin Conner</td>
                <td></td>
            </tr>
            <tr >
                <td width="20">
                    <span>
                        <i class="fa fa-bookmark-o text-yellow mailbox-impotant" data-toggle="tooltip"
                           data-placement="bottom" data-original-title="Đánh dấu thư này là quan trọng"></i></span>
                </td>
                <td width="20">
                    <span><i class="fa fa-star-o text-yellow mailbox-star" data-toggle="tooltip" data-placement="bottom"
                             data-original-title="Đánh dấu sao cho thư này"></i></span>
                </td>
                <td>Austin Conner</td>
                <td>Austin Conner</td>
                <td></td>
            </tr>
            <tr >
                <td width="20">
                    <span>
                        <i class="fa fa-bookmark-o text-yellow mailbox-impotant" data-toggle="tooltip"
                           data-placement="bottom" data-original-title="Đánh dấu thư này là quan trọng"></i></span>
                </td>
                <td width="20">
                    <span><i class="fa fa-star-o text-yellow mailbox-star" data-toggle="tooltip" data-placement="bottom"
                             data-original-title="Đánh dấu sao cho thư này"></i></span>
                </td>
                <td>Austin Conner</td>
                <td>Austin Conner</td>
                <td></td>
            </tr>
            <tr >
                <td width="20">
                    <span>
                        <i class="fa fa-bookmark-o text-yellow mailbox-impotant" data-toggle="tooltip"
                           data-placement="bottom" data-original-title="Đánh dấu thư này là quan trọng"></i></span>
                </td>
                <td width="20">
                    <span><i class="fa fa-star-o text-yellow mailbox-star" data-toggle="tooltip" data-placement="bottom"
                             data-original-title="Đánh dấu sao cho thư này"></i></span>
                </td>
                <td>Austin Conner</td>
                <td>Austin Conner</td>
                <td></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>