<div class="new-feed">
    <ul class="nav nav-tabs">
        <li class="tab-send active"><a href="#newfeed-tab-mail" data-toggle="tab"><i class="fa fa-envelope" aria-hidden="true"></i>Gửi thư</a></li>
        <li class="tab-edit"><a href="#newfeed-tab-edit" data-toggle="tab"><i class="fa fa-edit"></i>Bài viết</a></li>
        <li class="tab-event"><a href="#newfeed-tab-event" data-toggle="tab"><i class="fa fa-calendar"></i>Sự kiện</a></li>
        <li class="tab-notifed"><a href="#newfeed-tab-notifed" data-toggle="tab"><i class="fa fa-flag" aria-hidden="true"></i>Thông báo</a> </li>
    </ul>
    <div class="new-feed-body">
        <div class="tab-content">
            <div class="tab-panel active mini" id="newfeed-tab-mail">
                <form>
                    <div class="form-group mini-hide">
                        <label>Gửi tới</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="Gửi tới"/>
                            <div class="input-icon">
                                <i class="fa fa-plus"></i>
                                <i class="fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mini-hide">
                        <label>Nhập chủ đề thư</label>
                        <input class="form-control" placeholder="Nhập chủ đề thư">
                    </div>
                    <div class="new-feed-content">
                        <div class="new-feed-user">
                            <a href="#">
                                <img src="http://oss.seedcom.vn/upload/2016/11/28/1480298523695.jpg" alt="" class="img-circle c-user-avatar-holder user-avatar-SC00041">
                            </a>
                        </div>
                        <textarea class="content-textarea" placeholder="Nhập nội dung thư" id="letter-content-input"></textarea>
                    </div>
                    <div class="control mini-hide">
                        <div class="pull-left">
                            <div class="toolbar wysihtml5-toolbar">
                                <ul class="control__editor" id="wysihtml5-toolbar">
                                    <li class="o-inputbtn o-inputbtn--small o-inputbtn--nohover" data-toggle="tooltip" data-placement="top" title="Đính kèm tệp">
                                        <input type="file" name="attachfile" id="attachfile" multiple="multiple">
                                        <i class="fa fa-paperclip u-pointer" onclick="$('#attachfile').click()"></i>
                                    </li>
                                    <li class="feed-add-btn o-inputbtn o-inputbtn--small o-inputbtn--nohover" data-toggle="tooltip" data-placement="top" title="Đính kèm hình ảnh">
                                        <input accept="image/*" type="file" name="attachimage" id="attachimage" multiple="multiple">
                                        <i class="fa fa-camera u-pointer"></i>
                                    </li>
                                    <li class="o-inputbtn o-inputbtn--small o-inputbtn--nohover word" data-toggle="tooltip" data-placement="top" title="Đậm"><a data-wysihtml5-command="bold"><i class="fa fa-bold"></i></a></li>
                                    <li class="o-inputbtn o-inputbtn--small o-inputbtn--nohover word" data-toggle="tooltip" data-placement="top" title="Nghiêng"><a data-wysihtml5-command="italic"><i class="fa fa-italic"></i></a></li>
                                    <li class="o-inputbtn o-inputbtn--small o-inputbtn--nohover word" data-toggle="tooltip" data-placement="top" title="Gạch chân"><a data-wysihtml5-command="underline"><i class="fa fa-underline"></i><!-- /.fa-underline --></a></li>
                                    <li class="o-inputbtn o-inputbtn--small o-inputbtn--nohover" data-toggle="tooltip" data-placement="top" title="Chèn liên kết"><a data-wysihtml5-command="createLink"><i class="fa fa-link"></i></a></li>
                                    <li class="o-inputbtn o-inputbtn--small o-inputbtn--nohover word" data-toggle="tooltip" data-placement="top" title="Danh sách được đánh số"><a data-wysihtml5-command="insertOrderedList"><i class="fa fa-list-ol"></i></a></li>
                                    <li class="o-inputbtn o-inputbtn--small o-inputbtn--nohover word" data-toggle="tooltip" data-placement="top" title="Danh sách có dấu đầu dòng"><a data-wysihtml5-command="insertUnorderedList"><i class="fa fa-list-ul"></i></a></li>
                                    <div data-wysihtml5-dialog="createLink"	style="display: none;">
                                        <label> Link: <input data-wysihtml5-dialog-field="href"	id="txtlink" onkeydown="checkLinkOnKeyDown(this,'btnoklink')" placeholder="http://"  class="text">
                                        </label> <a class="u-pointer" id="btnoklink" data-wysihtml5-dialog-action="save"  onclick="checkLinkButtonOnClick(this,'txtlink')">OK</a>
                                        <a class="btncloselink u-pointer" data-wysihtml5-dialog-action="cancel"><span>Cancel</span></a>
                                    </div>
                                </ul>
                            </div>
                        </div>
                        <div class="pull-right">
                            <a href="#"><i class="fa fa-save"></i> Lưu thư nháp</a>
                            <button class="btn btn-post"><i class="fa fa-send"></i> Gửi thư</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="tab-panel" id="newfeed-tab-edit">
                <form>
                    <div class="new-feed-content">
                        <div class="new-feed-user">
                            <a href="#">
                                <img src="http://oss.seedcom.vn/upload/2016/11/28/1480298523695.jpg" alt="" class="img-circle c-user-avatar-holder user-avatar-SC00041">
                            </a>
                        </div>
                        <textarea class="content-textarea" placeholder="Nhập nội dung thư"></textarea>
                    </div>
                    <div class="control">
                        <div class="pull-left">
                            <div class="toolbar">
                                <ul class="control__editor">
                                    <li class="o-inputbtn o-inputbtn--small o-inputbtn--nohover" data-toggle="tooltip" data-placement="top" title="Đính kèm tệp">
                                        <input type="file" name="attachfile"  multiple="multiple">
                                        <i class="fa fa-paperclip u-pointer" onclick="$('#attachfile').click()"></i>
                                    </li>
                                    <li class="feed-add-btn o-inputbtn o-inputbtn--small o-inputbtn--nohover" data-toggle="tooltip" data-placement="top" title="Đính kèm hình ảnh">
                                        <input accept="image/*" type="file" name="attachimage" multiple="multiple">
                                        <i class="fa fa-image u-pointer"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pull-right">

                            <div class="dropdown inline">
                                <button class="btn dropdown-toggle" data-toggle="dropdown" ><i class="fa fa-globe" aria-hidden="true"></i>Tất cả mọi người<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Tất cả mọi người</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                            <button class="btn btn-post"><i class="fa fa-send"></i> Gửi thư</button>

                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-panel" id="newfeed-tab-event">
                <form>
                    <div class="form-group">
                        <label>Người tham gia</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="Nhập tên hoặc mã nhân viên"/>
                            <div class="input-icon">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Chủ đề sự kiện</label>
                        <input class="form-control" placeholder="Nhập chủ đề sự kiện">
                    </div>
                    <div class="form-group">
                        <label>Địa điểm tổ chức</label>
                        <input class="form-control" placeholder="Nhập địa điểm tổ chức sự kiện"/>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Ngày bắt đầu</label>
                                <div class="input-group">
                                    <input type="text" class="form-control pull-right datepicker">
                                    <div class="input-icon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Thời gian</label>
                                <div class="input-group">
                                    <input type="text" class="form-control pull-right timepicker">
                                    <div class="input-icon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Ngày kết thúc</label>
                                <div class="input-group">
                                    <input type="text" class="form-control pull-right datepicker">
                                    <div class="input-icon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Thời gian</label>
                                <div class="input-group">
                                    <input type="text" class="form-control pull-right timepicker">
                                    <div class="input-icon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="new-feed-content">
                        <div class="new-feed-user">
                            <a href="#">
                                <img src="http://oss.seedcom.vn/upload/2016/11/28/1480298523695.jpg" alt="" class="img-circle c-user-avatar-holder user-avatar-SC00041">
                            </a>
                        </div>
                        <textarea class="content-textarea" placeholder="Nhập nội dung thư"></textarea>
                    </div>
                    <div class="control">
                        <div class="pull-left">
                            <div class="toolbar">
                                <ul class="control__editor">
                                    <li class="o-inputbtn o-inputbtn--small o-inputbtn--nohover" data-toggle="tooltip" data-placement="top" title="Đính kèm tệp">
                                        <input type="file" name="attachfile"  multiple="multiple">
                                        <i class="fa fa-paperclip u-pointer" onclick="$('#attachfile').click()"></i>
                                    </li>
                                    <li class="feed-add-btn o-inputbtn o-inputbtn--small o-inputbtn--nohover" data-toggle="tooltip" data-placement="top" title="Đính kèm hình ảnh">
                                        <input accept="image/*" type="file" name="attachimage" multiple="multiple">
                                        <i class="fa fa-image u-pointer"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-post"><i class="fa fa-send"></i> Gửi thư</button>

                        </div>
                    </div>

                </form>
            </div>
            <div class="tab-panel" id="newfeed-tab-notifed">
                <form>
                    <div class="form-group">
                        <label>Người tham gia</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="Nhập tên hoặc mã nhân viên"/>
                            <div class="input-icon">
                                <i class="fa fa-plus"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tiêu đề thông báo</label>
                        <input class="form-control" placeholder="Nhập chủ đề thông báo">
                    </div>
                    <div class="new-feed-content">
                        <div class="new-feed-user">
                            <a href="#">
                                <img src="http://oss.seedcom.vn/upload/2016/11/28/1480298523695.jpg" alt="" class="img-circle c-user-avatar-holder user-avatar-SC00041">
                            </a>
                        </div>
                        <textarea class="content-textarea" placeholder="Nhập nội dung thư"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Tùy chỉnh thông báo</label>
                        <div>
                            <div class="checkbox-control">
                                <input type="checkbox" id="check-box-1" name="check" checked="">
                                <label for="check-box-1"></label>
                            </div>
                            Cho phép bình luận
                        </div>
                        <div>
                            <div class="checkbox-control">
                                <input type="checkbox" id="check-box-2" name="check" checked="">
                                <label for="check-box-2"></label>
                            </div>
                            Gửi theo tư cách phòng ban
                        </div>
                        <div>
                            <div class="checkbox-control">
                                <input type="checkbox" id="check-box-3" name="check" checked="">
                                <label for="check-box-3"></label>
                            </div>
                            Bắt buộc xác nhận đã đọc
                        </div>
                    </div>
                    <div class="control">
                        <div class="pull-left">
                            <div class="toolbar">
                                <ul class="control__editor">
                                    <li class="o-inputbtn o-inputbtn--small o-inputbtn--nohover" data-toggle="tooltip" data-placement="top" title="Đính kèm tệp">
                                        <input type="file" name="attachfile"  multiple="multiple">
                                        <i class="fa fa-paperclip u-pointer" onclick="$('#attachfile').click()"></i>
                                    </li>
                                    <li class="feed-add-btn o-inputbtn o-inputbtn--small o-inputbtn--nohover" data-toggle="tooltip" data-placement="top" title="Đính kèm hình ảnh">
                                        <input accept="image/*" type="file" name="attachimage" multiple="multiple">
                                        <i class="fa fa-image u-pointer"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-post"><i class="fa fa-send"></i> Gửi thư</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            $("#letter-content-input").focus(function () {
                $("#newfeed-tab-mail").removeClass("mini");
            })
            $("#letter-content-input").blur(function () {
                //$("#newfeed-tab-mail").addClass("mini");
            })
        });
    </script>
</div>