<div class="box">
    <div class="box-header">
        <div class="pull-left">
            <h4>THÔNG BÁO ĐƯỢC GHIM</h4>
        </div>
    </div>
    <div class="box-body no-padding">
        <ul class="home-list">
            <li>
                <a class="is-new" href="page/thongbao-chi-tiet.html">Bộ phận IT có nhân sự mới ở vị trí Java Devel...</a>
                <div class="text">Mark Johannson - 2 tiếng trước</div>
                <div class="pin-button">
                    <button class="btn btn-icon btn-pin" onClick="removePin(this)">
                        <i class="fa fa-thumb-tack"></i>
                    </button>
                </div>
            </li>
            <li>
                <a class="is-new" href="page/thongbao-chi-tiet.html">Thông báo bảo trì server hệ thống OSS từ 6:3…</a>
                <div class="text">Phòng IT Seedcom - 1 tiếng trước
                </div>
                <div class="pin-button">
                    <button class="btn btn-icon btn-pin" onClick="removePin(this)">
                        <i class="fa fa-thumb-tack"></i>
                    </button>
                </div>
            </li>
            <li>
                <a class="is-new" href="page/thongbao-chi-tiet.html">Thông báo bảo trì hệ thống điều hoà không k…</a>
                <div class="text">Phòng kỹ thuật - 1 ngày</div>
                <div class="pin-button">
                    <button class="btn btn-icon btn-pin" onClick="removePin(this)">
                        <i class="fa fa-thumb-tack"></i>
                    </button>
                </div>
            </li>
            <li>
                <a href="page/thongbao-chi-tiet.html">Quy định mới về sử dụng phòng họp</a>
                <div class="text"></div>
                <div class="pin-button">
                    <button class="btn btn-icon btn-pin" onClick="removePin(this)">
                        <i class="fa fa-thumb-tack"></i>
                    </button>
                </div>
            </li>
            <li>
                <a href="page/thongbao-chi-tiet.html">Thử nghiệm giao diện mới của OSS</a>
                <div class="text">Phòng IT Seedcom - 2 ngày trước</div>
                <div class="pin-button">
                    <button class="btn btn-icon btn-pin" onClick="removePin(this)">
                        <i class="fa fa-thumb-tack"></i>
                    </button>
                </div>
            </li>
            <li>
                <a href="page/thongbao-chi-tiet.html">Bảo trì mail server của Seedcom</a>
                <div class="text">Superman Batman - 2 ngày trước</div>
                <div class="pin-button">
                    <button class="btn btn-icon btn-pin" onClick="removePin(this)">
                        <i class="fa fa-thumb-tack"></i>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>

<script>
    function removePin(target){
        var parent = $(target).closest("li");
        parent.empty();
        parent.append("<div class='confirm-text'>Bạn muốn gỡ thông báo này khỏi bảng ghim?</div><div class='confirm-action'><button class='btn btn-cancel'>Không</button><button class='btn btn-alert' onclick='clearUITool(this)'>Gở bỏ</button></div>")
    }
    function clearUITool(target) {
        var parent = $(target).closest("li");
        parent.empty();
        parent.append("<div class='remove-text'>Đã gỡ thông báo khỏi bảng ghim.</div>")
    }
    document.addEventListener("DOMContentLoaded", function(event) {

    })
</script>