<div class="modal fade" id="read-list-id" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">8 người đã đọc thông báo</h4>
            </div>
            <div class="modal-body">
                <ul class="people-list">
                    <li>
                        <div class="pull-left">
                            <a href="#">
                                <img
                                        class="img-responsive u-pointer img-circle img-sm c-user-avatar-holder user-avatar-SC00041"
                                        src="http://oss.seedcom.vn/upload/2016/11/28/1480298523695.jpg"
                                        alt="Alt Text">
                                <span class="name">
                                        Nguyễn Công Thành
                                    </span>
                            </a>
                        </div>
                        <div class="pull-right">
                                <span class="time">
                                    08:58AM 08-20-2016
                                </span>
                        </div>
                    </li><li>
                        <div class="pull-left">
                            <a href="#">
                                <img
                                        class="img-responsive u-pointer img-circle img-sm c-user-avatar-holder user-avatar-SC00041"
                                        src="http://oss.seedcom.vn/upload/2016/11/28/1480298523695.jpg"
                                        alt="Alt Text">
                                <span class="name">
                                        Nguyễn Công Thành
                                    </span>
                            </a>
                        </div>
                        <div class="pull-right">
                                <span class="time">
                                    08:58AM 08-20-2016
                                </span>
                        </div>
                    </li><li>
                        <div class="pull-left">
                            <a href="#">
                                <img
                                        class="img-responsive u-pointer img-circle img-sm c-user-avatar-holder user-avatar-SC00041"
                                        src="http://oss.seedcom.vn/upload/2016/11/28/1480298523695.jpg"
                                        alt="Alt Text">
                                <span class="name">
                                        Nguyễn Công Thành
                                    </span>
                            </a>
                        </div>
                        <div class="pull-right">
                                <span class="time">
                                    08:58AM 08-20-2016
                                </span>
                        </div>
                    </li><li>
                        <div class="pull-left">
                            <a href="#">
                                <img
                                        class="img-responsive u-pointer img-circle img-sm c-user-avatar-holder user-avatar-SC00041"
                                        src="http://oss.seedcom.vn/upload/2016/11/28/1480298523695.jpg"
                                        alt="Alt Text">
                                <span class="name">
                                        Nguyễn Công Thành
                                    </span>
                            </a>
                        </div>
                        <div class="pull-right">
                                <span class="time">
                                    08:58AM 08-20-2016
                                </span>
                        </div>
                    </li><li>
                        <div class="pull-left">
                            <a href="#">
                                <img
                                        class="img-responsive u-pointer img-circle img-sm c-user-avatar-holder user-avatar-SC00041"
                                        src="http://oss.seedcom.vn/upload/2016/11/28/1480298523695.jpg"
                                        alt="Alt Text">
                                <span class="name">
                                        Nguyễn Công Thành
                                    </span>
                            </a>
                        </div>
                        <div class="pull-right">
                                <span class="time">
                                    08:58AM 08-20-2016
                                </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>