<aside class="oss-main-sidebar @@type">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="oss-sidebar">
        <!-- sidebar menu: : style can be found in oss-sidebar.less -->
        <button class="btn btn-icon pin-menu-button" id="pin-oss-menu-button">
            <i class="fa fa-caret-left"></i>
        </button>
        <ul class="oss-sidebar-menu mini">
            <li class="head">
                <span class="small-logo"><a href="index.html">OSS</a></span>
                <span class="logo">SeedCom</span>
                <i class="fa fa-caret-down"></i>
            </li>
            <li class="add-action">
                <div class="btn-group">
                    <button class="btn btn-add dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <span class="text">TRUY CẬP NHANH</span>
                        <span class="small-icon">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Tạo đơn hàng online</a></li>
                        <li><a href="#">Tạo đơn cửa hàng</a></li>
                        <li><a href="#">Phiếu nghỉ phép</a></li>
                        <li><a href="#">Phiếu chuyển kho</a></li>
                    </ul>
                </div>
            </li>
            <li class="active treeview" menuid=1>
                <a href="#">
                    <span class="menu-icon">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">GÓC LÀM VIỆC</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Bảng tin </a></li>
                    <li><a href="#">Lịch làm việc</a></li>
                    <li><a href="#">Hộp thư</a></li>
                    <li><a href="#">task</a></li>
                    <li><a href="#">Chấm công</a></li>
                    <li><a href="#">Nhóm của tôi</a></li>
                    <li><a href="#">Phiếu phê duyệt</a></li>
                </ul>
            </li>
            <li class="treeview" menuid=2>
                <a href="#">
                    <span class="menu-icon">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">BÁN HÀNG TẠI CỬA HÀNG</span>
                    <ul class="treeview-menu">
                        <li><a href="#">POS Cửa hàng</a></li>
                        <li><a href="#">Xử lí đơn hàng</a></li>
                        <li><a href="#">Tra cứu đơn hàng</a></li>
                        <li><a href="#">Trả hàng</a></li>
                        <li><a href="#">Đổi Hàng</a></li>
                        <li><a href="#">Nộp tiền</a></li>
                        <li><a href="#">Xem hàng tồn kho âm</a></li>
                        <li><a href="#">Báo cáo cửa hàng</a></li>
                    </ul>
                </a>
            </li>
            <li class="treeview" menuid=3>
                <a href="#">
                     <span class="menu-icon">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">BÁN HÀNG ONLINE</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">POS Online</a></li>
                    <li><a href="#">Xử lí đơn hàng online</a></li>
                    <li><a href="#">Tra cứu đơn hàng online</a></li>
                    <li><a href="#">Điều phối đơn hàng</a></li>
                    <li><a href="#">Báo cáo bán hàng online</a></li>
                </ul>
            </li>
            <li class="treeview" menuid=4>
                <a href="#">
                    <span class="menu-icon">
                        <i class="fa fa-suitcase" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">BÁN SỈ</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Tạo đơn hàng sỉ</a></li>
                    <li><a href="#">Quản lý hoạt động bán sỉ</a></li>
                    <li><a href="#">Tra cứu đơn hàng sỉ</a></li>
                    <li><a href="#">Xử lí đơn hàng sỉ</a></li>
                    <li><a href="#">Công nợ</a></li>
                    <li><a href="#">Hợp đồng khách hàng</a></li>
                    <li><a href="#">Báo cáo bán sỉ</a></li>
                    <li><a href="#">Partner Portal</a></li>
                </ul>
            </li>
            <li class="treeview" menuid=5>
                <a href="#">
                     <span class="menu-icon">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">GIÁ - CTKM - THỊ TRƯỜNG</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Chương trình khuyến mãi</a></li>
                    <li><a href="#">Phiếu quà tặng</a></li>
                    <li><a href="#">Khảo sát thị trường</a></li>
                    <li><a href="#">Thiết lập giá</a></li>
                    <li><a href="#">Quản lí trưng bày</a></li>
                </ul>
            </li>
            <li class="treeview" menuid=6>
                <a href="#">
                     <span class="menu-icon">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">DỊCH VỤ 5 SAO</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Phân ca cửa hàng</a></li>
                    <li><a href="#">Chấm công</a></li>
                    <li><a href="#">Điểm cửa hàng</a></li>
                    <li><a href="#">Điểm nhân viên</a></li>
                    <li><a href="#">Chấm điểm camera</a></li>
                    <li><a href="#">Giám sát camera</a></li>
                    <li><a href="#">Happy Calls</a></li>
                </ul>
            </li>
            <li class="treeview" menuid=7>
                <a href="#">
                     <span class="menu-icon">
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">KHÁCH HÀNG</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Tra cứu thông tin KH</a></li>
                    <li><a href="#">Nhập liệu KH</a></li>
                    <li><a href="#">Xác thực thông tin KH</a></li>
                    <li><a href="#">Phân tích dữ liệu KH</a></li>
                    <li><a href="#">Tương tác khách hàng</a></li>
                    <li><a href="#">Than phiền từ KH</a></li>
                    <li><a href="#">Màn hình cho KH</a></li>
                    <li><a href="#">Báo cáo khách hàng</a></li>
                </ul>
            </li>
            <li class="treeview" menuid=8>
                <a href="#">
                    <span class="menu-icon">
                       <i class="fa fa-balance-scale" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">MUA HÀNG</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Quản lý nhà cung cấp</a></li>
                    <li><a href="#">Quản lý hàng mua, NVL</a></li>
                    <li><a href="#">Quản lý HĐ nhà cung cấp</a></li>
                    <li><a href="#">Supplier Portal</a></li>
                    <li><a href="#">Quản lý báo giá</a></li>
                    <li><a href="#">Phân tích dự báo nhu cầu</a></li>
                    <li><a href="#">Quản lý yêu cầu NVL</a></li>
                    <li><a href="#">Quản lý mua hàng</a></li>
                    <li><a href="#"> Kiếm tra nhận hàng</a></li>
                </ul>
            </li>
            <li class="treeview" menuid=9>
                <a href="#">
                    <span class="menu-icon">
                        <i class="fa fa-calculator" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">SẢN XUẤT</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Quản lý mẫu thiết kế</a></li>
                    <li><a href="#">Tra cứu thông tin s.phẩm</a></li>
                    <li><a href="#">Cấu hình PSI</a></li>
                    <li><a href="#">Xuất nhập kho</a></li>
                    <li><a href="#">Chuyển hàng</a></li>
                    <li><a href="#">Kiểm kê</a></li>
                    <li><a href="#">Báo cáo kho</a></li>
                </ul>
            </li>
            <li class="treeview" menuid=10>
                <a href="#">
                    <span class="menu-icon">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">HÀNG HOÁ - KHO</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Quản lý danh mục</a></li>
                    <li><a href="#">Tra cứu thông tin s.phẩm</a></li>
                    <li><a href="#">Cấu hình PSI</a></li>
                    <li><a href="#">Xuất nhập kho</a></li>
                    <li><a href="#">Chuyển hàng</a></li>
                    <li><a href="#">Kiểm kê</a></li>
                    <li><a href="#">Báo cáo kho</a></li>
                </ul>
            </li>
            <li class="treeview" menuid=11>
                <a href="#">
                    <span class="menu-icon">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">GIAO NHẬN</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Giao nhận</a></li>
                </ul>
            </li>
            <li class="treeview" menuid=12>
                <a href="#">
                    <span class="menu-icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">NHÂN SỰ - LƯƠNG</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Sơ đồ tổ chức</a></li>
                    <li><a href="#">Quản lý sơ đồ tổ chức</a></li>
                    <li><a href="#">Quản lý tuyển dụng</a></li>
                    <li><a href="#">Quán lý nhân viên</a></li>
                    <li><a href="#">Phân ca</a></li>
                    <li><a href="#">Quán lý công</a></li>
                    <li><a href="#">Quán lý tác vụ</a></li>
                    <li><a href="#">Báo cáo nhân sự</a></li>
                </ul>
            </li>
            <li class="treeview" menuid=13>
                <a href="#">
                    <span class="menu-icon">
                        <i class="fa fa-database" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">KẾ TOÁN</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Quản lý, in hóa đơn GTGT</a></li>
                    <li><a href="#">Tra cứu chi tiết đơn hàng</a></li>
                    <li><a href="#">Đối soát bán hàng thu tiền</a></li>
                    <li><a href="#">Công nợ khách hàng</a></li>
                    <li><a href="#">Công nợ nhà cung cấp</a></li>
                    <li><a href="#">Dòng tiền</a></li>
                    <li><a href="#">Bảng CDKT</a></li>
                    <li><a href="#">P&L</a></li>
                </ul>
            </li>
            <li class="treeview" menuid=14>
                <a href="#">
                    <span class="menu-icon">
                        <i class="fa fa-bar-chart" aria-hidden="true"></i>
                    </span>
                    <span class="menu-text">CÁC LOẠI BÁO CÁO</span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">Báo cáo bán hàng</a></li>
                    <li><a href="#">Báo cáo online</a></li>
                    <li><a href="#">Báo cáo CTKM</a></li>
                    <li><a href="#">Báo cáo dịch vụ 5 Sao</a></li>
                    <li><a href="#">Báo cáo khách hàng</a></li>
                    <li><a href="#">Báo cáo mua hàng</a></li>
                    <li><a href="#">Báo cáo sản xuất</a></li>
                    <li><a href="#">Báo cáo hàng hóa và kho</a></li>
                    <li><a href="#">Báo cáo NS, lương thưởng</a></li>
                    <li><a href="#">Báo cáo kế toán</a></li>
                </ul>
            </li>
        </ul>
        <ul class="oss-slide-submenu">
            <li submenuid=1 class="active">
                <a href="#">GÓC CỦA TÔI</a>
                <ul>
                    <li><a href="#">Bảng tin </a></li>
                    <li><a href="#">Lịch làm việc</a></li>
                    <li><a href="#">Hộp thư</a></li>
                    <li><a href="page/leave.html">Nghĩ phép</a></li>
                    <li><a href="#">Chấm công</a></li>
                    <li><a href="#">Nhóm của tôi</a></li>
                    <li><a href="#">Phiếu phê duyệt</a></li>
                </ul>
            </li>
            <li submenuid=2>
                <a href="#">Bán hàng tại CH</a>
                <ul>
                    <li><a href="#">POS Cửa hàng</a></li>
                    <li><a href="#">Xử lí đơn hàng</a></li>
                    <li><a href="#">Tra cứu đơn hàng</a></li>
                    <li><a href="#">Trả hàng</a></li>
                    <li><a href="#">Đổi Hàng</a></li>
                    <li><a href="#">Nộp tiền</a></li>
                    <li><a href="#">Xem hàng tồn kho âm</a></li>
                    <li><a href="#">Báo cáo cửa hàng</a></li>
                </ul>
            </li>
            <li submenuid=3>
                <a href="#">Bán hàng online</a>
                <ul>
                    <li><a href="#">POS Online</a></li>
                    <li><a href="#">Xử lí đơn hàng online</a></li>
                    <li><a href="#">Tra cứu đơn hàng online</a></li>
                    <li><a href="#">Điều phối đơn hàng</a></li>
                    <li><a href="#">Báo cáo bán hàng online</a></li>
                </ul>
            </li>
            <li submenuid=4>
                <a href="#">Bán sỉ</a>
                <ul>
                    <li><a href="#">Tạo đơn hàng sỉ</a></li>
                    <li><a href="#">Quản lý hoạt động bán sỉ</a></li>
                    <li><a href="#">Tra cứu đơn hàng sỉ</a></li>
                    <li><a href="#">Xử lí đơn hàng sỉ</a></li>
                    <li><a href="#">Công nợ</a></li>
                    <li><a href="#">Hợp đồng khách hàng</a></li>
                    <li><a href="#">Báo cáo bán sỉ</a></li>
                    <li><a href="#">Partner Portal</a></li>
                </ul>
            </li>
            <li submenuid=5>
                <a href="#">Giá - CTKM - Thị Trường</a>
                <ul>
                    <li><a href="#">Chương trình khuyến mãi</a></li>
                    <li><a href="#">Phiếu quà tặng</a></li>
                    <li><a href="#">Khảo sát thị trường</a></li>
                    <li><a href="#">Thiết lập giá</a></li>
                    <li><a href="#">Quản lí trưng bày</a></li>
                </ul>
            </li>
            <li submenuid=6>
                <a href="#">Dịch vụ 5 sao</a>
                <ul>
                    <li><a href="#">Phân ca cửa hàng</a></li>
                    <li><a href="#">Chấm công</a></li>
                    <li><a href="#">Điểm cửa hàng</a></li>
                    <li><a href="#">Điểm nhân viên</a></li>
                    <li><a href="#">Chấm điểm camera</a></li>
                    <li><a href="#">Giám sát camera</a></li>
                    <li><a href="#">Happy Calls</a></li>
                </ul>
            </li>
            <li submenuid=7>
                <a href="page/khachhangmoi.html">Khách hàng</a>
                <ul>
                    <li><a href="#">Tra cứu thông tin KH</a></li>
                    <li><a href="#">Nhập liệu KH</a></li>
                    <li><a href="#">Xác thực thông tin KH</a></li>
                    <li><a href="#">Phân tích dữ liệu KH</a></li>
                    <li><a href="#">Tương tác khách hàng</a></li>
                    <li><a href="#">Than phiền từ KH</a></li>
                    <li><a href="#">Màn hình cho KH</a></li>
                    <li><a href="#">Báo cáo khách hàng</a></li>
                </ul>
            </li>
            <li submenuid=8>
                <a href="/page/khachhangmoi.html">Mua Hàng</a>
                <ul>
                    <li><a href="#">Quản lý nhà cung cấp</a></li>
                    <li><a href="#">Quản lý hàng mua, NVL</a></li>
                    <li><a href="#">Quản lý HĐ nhà cung cấp</a></li>
                    <li><a href="#">Supplier Portal</a></li>
                    <li><a href="#">Quản lý báo giá</a></li>
                    <li><a href="#">Phân tích dự báo nhu cầu</a></li>
                    <li><a href="#">Quản lý yêu cầu NVL</a></li>
                    <li><a href="#">Quản lý mua hàng</a></li>
                    <li><a href="#"> Kiếm tra nhận hàng</a></li>
                </ul>
            </li>
            <li submenuid=9>
                <a href="#">Sản xuất</a>
                <ul>
                    <li><a href="#">Quản lý mẫu thiết kế</a></li>
                    <li><a href="#">Tra cứu thông tin s.phẩm</a></li>
                    <li><a href="#">Cấu hình PSI</a></li>
                    <li><a href="#">Xuất nhập kho</a></li>
                    <li><a href="#">Chuyển hàng</a></li>
                    <li><a href="#">Kiểm kê</a></li>
                    <li><a href="#">Báo cáo kho</a></li>
                </ul>
            </li>
            <li submenuid=10>
                <a href="#">Hàng hoá - Kho</a>
                <ul>
                    <li><a href="#">Quản lý danh mục</a></li>
                    <li><a href="#">Tra cứu thông tin s.phẩm</a></li>
                    <li><a href="#">Cấu hình PSI</a></li>
                    <li><a href="#">Xuất nhập kho</a></li>
                    <li><a href="#">Chuyển hàng</a></li>
                    <li><a href="#">Kiểm kê</a></li>
                    <li><a href="#">Báo cáo kho</a></li>
                </ul>
            </li>
            <li submenuid=11>
                <a href="#">Giao nhận</a>
                <ul>
                    <li><a href="#">Giao nhận</a></li>
                </ul>
            </li>
            <li submenuid=12>
                <a href="#">Nhân sự - Lương</a>
                <ul>
                    <li><a href="#">Sơ đồ tổ chức</a></li>
                    <li><a href="#">Quản lý sơ đồ tổ chức</a></li>
                    <li><a href="#">Quản lý tuyển dụng</a></li>
                    <li><a href="#">Quán lý nhân viên</a></li>
                    <li><a href="#">Phân ca</a></li>
                    <li><a href="#">Quán lý công</a></li>
                    <li><a href="#">Quán lý tác vụ</a></li>
                    <li><a href="#">Báo cáo nhân sự</a></li>
                </ul>
            </li>
            <li submenuid=13>
                <a href="#">Kế toán</a>
                <ul>
                    <li><a href="#">Quản lý, in hóa đơn GTGT</a></li>
                    <li><a href="#">Tra cứu chi tiết đơn hàng</a></li>
                    <li><a href="#">Đối soát bán hàng thu tiền</a></li>
                    <li><a href="#">Công nợ khách hàng</a></li>
                    <li><a href="#">Công nợ nhà cung cấp</a></li>
                    <li><a href="#">Dòng tiền</a></li>
                    <li><a href="#">Bảng CDKT</a></li>
                    <li><a href="#">P&L</a></li>
                </ul>
            </li>
            <li submenuid=14>
                <a href="#">Các loại báo cáo</a>
                <ul>
                    <li><a href="#">Báo cáo bán hàng</a></li>
                    <li><a href="#">Báo cáo online</a></li>
                    <li><a href="#">Báo cáo CTKM</a></li>
                    <li><a href="#">Báo cáo dịch vụ 5 Sao</a></li>
                    <li><a href="#">Báo cáo khách hàng</a></li>
                    <li><a href="#">Báo cáo mua hàng</a></li>
                    <li><a href="#">Báo cáo sản xuất</a></li>
                    <li><a href="#">Báo cáo hàng hóa và kho</a></li>
                    <li><a href="#">Báo cáo NS, lương thưởng</a></li>
                    <li><a href="#">Báo cáo kế toán</a></li>
                </ul>
            </li>
        </ul>

    </section>
    <!-- /.sidebar -->
</aside>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        $("#pin-oss-menu-button").click(function() {
            var wrapper = $(".wrapper");
            if(!wrapper.hasClass("sidebar-mini")){
                wrapper.addClass("sidebar-mini")
            }else {
                wrapper.removeClass("sidebar-mini")
            }
        });
    });
</script>