body .pl0{padding-left: 0;}
body .pr0{padding-right: 0;}
.mb0{margin-bottom: 0;}
.mt1{margin-top: 1px;}
.mr7{margin-right: 7px;}
.ml{}
.mt15{margin-top: 15px;}
.mt30{margin-top: 30px;}

.fw600{font-weight: 600;}

.hidden{display: none;}

.cricle10{border: 1px solid transparent; border-radius: 5px; height: 10px; width: 10px; display: inline-block;}

.inline-block{display: inline-block;}

.accepted{color: #8bc34a}
.waiting{color: #ffc107;}
.rejected{color: #f44336;}
.action{color: #aaa;}

.bg-accepted{background-color: #8bc34a}
.bg-waiting{background-color: #ffc107;}
.bg-rejected{background-color: #f44336;}
.bg-action{background-color: #aaa;}

.textLink{color: #03a9f4;}
.textCore{color: #37474f;}

.main-modal .modal-dialog{width: 750px;}
.main-modal .modal-body{margin-top: 20px;}
.main-modal .modal-header{border-bottom: 0;}
.main-modal .modal-title{color: #37474f; font-size: 20px; font-weight: 300;}
.main-modal .close{color: #455a64;font-size: 18px;font-weight: bolder;opacity: 1;text-shadow: none;}

.main-input .form-control{border-radius: 5px;background-color: #f5f5f5;border: 0;padding-left: 10px;}
.main-input .input-group .form-control:first-child,
.main-input .input-group .form-control:last-child{border-bottom-left-radius: 5px;
    border-top-left-radius: 5px; border-bottom-right-radius: 5px; border-top-right-radius: 5px;}
