.nav.nav-tabs > li > a.mr30{
	margin-right: 30px;
}
.icon-arr{
	position: relative;
	padding-left: 20px;
}
.icon-arr .fa{
	position: absolute;
	content: '';
	left: 2px;
	right: 0;
}
.icon-arr .fa.fa-caret-down{
	top: 6px;
}
.icon-arr .fa.fa-caret-up{
	bottom: 5px;
}
.box-body-mk .form-control {
	border-radius: 5px;
	background-color: #f5f5f5;	
	border: 0;
	padding-left: 10px;
	margin-left: 10px;
}
.box-body-mk .input-icon .fa-calendar,
.box-body-mk .input-icon .fa-search{
	padding-right: 10px;
}
.namct{
	font-size: 14px;
	font-weight: 600;
}
.deloy{
	border-radius: 15px;
    padding: 2px 12px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}
.fc-action{
	border-radius: 50%;
    padding: 0px 5px;
    font-size: 14px;
    text-align: center;
    border: 0;
}
.fc-action .fa-caret-down, .fc-action .fa-caret-up{
	color: #fff;
}
.table-km > thead > tr > th,
.table-km > tbody > tr > td{
	padding: 20px 15px 20px 15px;	
}
.dr-km .dropdown-menu{
	left: -125px;
}
.dr-km .dropdown-menu>li>a, 
.dr-km .dropdown-menu>li>a:hover, 
.dr-km .dropdown-menu>li>a:focus{
	color: #37474f;
}
.km-body-item .panel-group .panel{
	margin-bottom: 15px;
}
.panel-group .km-panel-heading{
	border-bottom: 1px solid #e0e0e0;;
}
.panel-group .km-panel-heading .panel-title,
.panel-group .km-panel-body .panel-title{
	font-size: 14px;
    color: #37474f;
    font-weight: 600;
    line-height: 18px;
}
.panel-group .km-panel-body{
	border-bottom: 1px solid #e0e0e0;
}
.panel-group .km-panel-body .panel-title{
	padding-left: 0;
}
.panel-group .km-panel-body .pt-normal{
	font-weight: normal;
}
.panel-group .km-panel-heading .panel-title-group,
.panel-group .km-panel-heading .panel-title-group .add-group{
	font-size: 14px;
	line-height: 14px;
	margin-right: 5px;
	vertical-align: bottom;
	color: #25cb68;
	font-weight: 600;
	margin-bottom: 0;
	margin-top: 0;
}
.panel-group .km-panel-heading .clickable{
	vertical-align: text-bottom;
	line-height: 14px;
	font-weight: normal;
	margin-right: 5px;
}
.panel-group .km-panel-body p{
	font-size: 14px;
    color: #37474f;
    line-height: 16px;
    margin-top: 7px;
    margin-left: 22px;
}
.panel-group .km-panel-body .edit-item{
	vertical-align: bottom;
	color: #03a9f4;
	font-weight: normal;
	line-height: 14px;
	margin-right: 5px;
}
.panel-group .km-panel-body .note-item{
	font-size: 16px;
	line-height: 16px;
	margin-left: 5px;
	vertical-align: text-bottom;
	color: #03a9f4;
	font-weight: normal;
}
.panel-group .km-panel-body .add-item{
	font-size: 14px;
	line-height: 14px;
	margin-right: 5px;
	vertical-align: bottom;
	color: #37474f;
	font-weight: normal;
}
.panel-group .km-panel-body .form-group{
	margin-left: 20px;	
}
.panel-group .km-panel-body .form-group .mess-no{
	font-style: italic;
	color: #37474f;
	font-size: 14px;
}
.panel-group .km-panel-body .form-group .km-lb,
.panel-group .km-panel-body .form-group .form-control{
	color: #455a64;
	font-weight: 600;
	text-transform: initial;
}
.km-body-title{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
	color: #37474f;
}
.galeryImgSetup{
	margin-top: 5px;
}
.galeryImage ul{
	padding-left: 20px;
}
.file-group ul,
.galeryImgSetup ul{
	padding-left: 0;
}
.galeryImage ul li,
.file-group ul li,
.galeryImgSetup ul li{
	list-style: none;
	display: inline-block;
	padding-right: 5px;
	position: relative;
}
.galeryImage ul li a,
.file-group ul li a, 
.galeryImgSetup ul li a{
	vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.galeryImage ul li .removeImg,
.file-group ul li .removeImg,
.galeryImgSetup ul li .removeImg{
	position: absolute;
    right: 0;
    top: -5px;
    padding-right: 5px;
    color: #fff;
    z-index: 2;
    border-radius: 50%;
    padding: 0px 0px;
    font-size: 14px;
    text-align: center;
    line-height: 0px;
    background: #f00;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.galeryImage ul li a img,
.galeryImgSetup ul li a img{
	width: 50px;
    height: 50px;
}
.file-group ul li a img{
	width: 100px;
	height: 100px;
}
.km-form-allshop .input-group .input-icon{
	padding-right: 5px;
}
.km-shop-ck label{
	font-weight: normal;
	font-size: 14px;
	color: #37474f;
}
.kmSetup-note{
	color: #37474f;
	font-weight: 600;
}
.kmSetup-note span{
	font-weight: 600;
  	color: #03a9f4;
}
.add-left{
	width: 2%;
    height: 30px;
    text-align: center;
    padding: 7px 0;
}
.add-left span{
	margin-left: 10px;
}
.add-right{
	width: 97%;
    margin-left: 10px;
}
.add-right input{
	padding: 15px 0;
}
.optgroup{
	border-top: 1px solid #d8d8d8;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-radius: 5px;
    border-bottom: 1px solid #d8d8d8;
}
.optgroup optgroup{
	text-transform: uppercase;
}
.optgroup optgroup option{
	text-transform: none;
}
.btnoptgroup{
	margin-top: 150px ;
}
.titleOtgroup{
	margin-bottom: 10px;
}
.table-ds{margin-top: 20px;}
.table-ds .table > thead > tr:nth-child(even), 
.table-ds .table > tbody > tr:nth-child(even), 
.table-ds .table > tfoot > tr:nth-child(even){
	background-color: transparent;
}
.table-ds .table > thead > tr{
	background-color: #eee;
}
.table-ds .table > thead > tr > td,
.table-ds .table > tbody > tr > td.two,
.table-ds .table > tbody > tr > td.two.level2{
	font-weight: 600;
	color: #37474f;
}
.table-ds .table > thead > tr > td, 
.table-ds .table > tbody > tr > td{
	padding: 12px 5px;
}
.table-ds .table > tbody > tr,
.table-ds .table > thead > tr,
.table-ds .table > tbody > tr > td > .table > tbody > tr,
.table-ds .table > tbody > tr > td > .table > tbody > tr:first-child,
.table-ds .table > tbody > tr > td > .table > tbody > tr > td > .table > tbody > tr{
	border-bottom: 1px solid #e0e0e0;
}
.table-ds .table > tbody > tr > td > .table > tbody > tr > td > .table > tbody > tr >td
{
	border-bottom: 0;
}
.table-ds .table > tbody > tr > td > .table > tbody > tr {
	border-bottom: 0;
}
.table > tbody > tr > td, .table > tbody > tr > td > .table > tbody > tr.no-border{ border-top:0;}
.table-ds .table > tbody > tr > td.one,
.table-ds .table > thead > tr > td.one,
.table-ds .table > tbody > tr > td .table > tbody > tr > td.one,
.table-ds .table > tbody > tr > td .table > tbody > tr > td > .table > tbody > tr > td.one{
	width: 5%;
}
.table-ds .table > tbody > tr > td.two,
.table-ds .table > thead > tr > td.two,
.table-ds .table > tbody > tr > td .table > tbody > tr > td.two,
.table-ds .table > tbody > tr > td .table > tbody > tr > td > .table > tbody > tr > td.two{
	width: 5%;
	border-right: 2px solid #ececec;
}
.table-ds .table > tbody > tr > td.three,
.table-ds .table > thead > tr > td.three,
.table-ds .table > tbody > tr > td .table > tbody > tr > td.three,
.table-ds .table > tbody > tr > td .table > tbody > tr > td > .table > tbody > tr > td.three{
	width: 25%;
}
.table-ds .table > tbody > tr > td.four,
.table-ds .table > thead > tr > td.four,
.table-ds .table > tbody > tr > td .table > tbody > tr > td.four,
.table-ds .table > tbody > tr > td .table > tbody > tr > td > .table > tbody > tr > td.four{
	width: 50%
}
.table-ds .table > tbody > tr > td.five,
.table-ds .table > thead > tr > td.five,
.table-ds .table > tbody > tr > td .table > tbody > tr > td.five,
.table-ds .table > tbody > tr > td .table > tbody > tr > td > .table > tbody > tr > td.five{
	width: 15%;
}
.table-ds .table > tbody > tr > td.tdLevelTwo{
	padding: 0;
}
.table-ds .table > tbody > tr > td.two.level2{
	padding-left: 25px;
}
.table-ds .table > tbody > tr > td .table > tbody > tr > td.two.level3{
	font-weight: normal;
	padding-left: 45px;
}
.table-ds .table > tbody > tr > td.two i,
.table-ds .table > tbody > tr > td.two.level2 i{
	padding-right: 5px;
}
.table-ds .table > tbody > tr > td .table > tbody > tr > td > .table > tbody > tr > td.three .pull-right{
	color: #37474f;
}
.editbnsu{
	margin-left: 10px;
    font-size: 18px;
    color: #03a9f4;
}
.bold_txt_common{
	font-weight: bold;
}
#edt_protion_modal{
	width: 500px;
}
#up_evidence_promotion{
	display:none;
}
.box_promotion_custom{
	box-shadow: none;
	border-top-left-radius: none;
	border-top-right-radius: none;
	border-bottom-left-radius: none;
	border-bottom-right-radius: none;
}
	