.select-company-wrapper{
  width: 400px;
  margin: auto;
  margin-top: 100px;
  .select-company-header{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 20px;
    background: #60ab8a;
    color: #fcfdfd;

  }
  .company-list{
    list-style: none;
    padding-left: 0px;
    padding: 20px;
    background: #d8dce2;
    li{
      padding: 10px;
      margin-bottom: 2px;
      background: #fcfdfd;
      cursor: pointer;
      &:first-child{
        border-radius: 4px 4px 0px 0px;
      }
      &:last-child{
        border-radius: 0px 0px 4px 4px;
      }
    }
  }
}
