@import "../../scss/app-var";
ul.okr-sidebar{
  list-style: none;
  padding-left: 0px;
  li{
    padding: 15px;
    display: flex;
    align-items: center;
    img.list-image{
      width: 30px;
    }
    a{
      flex: 1;
      color: #37474f;
      display: flex;
      align-items: center;
      img{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
    .round-icon{
      background: #263238;
      width: 30px;
      border-radius: 50px;
      height: 30px;
      display: inline-block;
      position: relative;
      margin-right: 10px;
      i{
        position: absolute;
        color: #fff;
        font-size: 14px;
        top: 8px;
        left: 8px;
      }
    }
    &.active,&:hover{
      background-color: #f5f5f5;
    }
    &.list-pin{
      &.active,&:hover{
        background-color: transparent;
      }
      >ul{
       padding:0px;
        width: 100%;
        height: 100%;
      }
      padding: 0px;
    }
  }
  .create-group-link{
    margin-left: 20px;
    color: $btn-color-add-save-accept;
    &:hover{
     color: $btn-color-add-save-accept-hover;
    }
  }
  .user-image{

  }
  .separator{
    text-transform: uppercase;
    font-weight: bold;
    &:hover{
      background: none;
    }
  }
}
