.quarter-select {
  width: 100%;
  color: #03A9F4;
  background-color: #F5F5F5;
  .quarter-select-label {
    text-align: right;
  }
  .quarter-select-dropdown {
    width: 100%;
    .quarter-sellect-control {
      border: none;
      background: none;
      width: 100%;
      font-size: 20px;
      height: 40px;
      text-align: right;
      cursor: pointer;
    }
    .dropdown-menu{
      right: 0px;
      li{
        padding: 5px;
        a{
          color: #03A9F4;
          font-size: 16px;
          text-align: right;
          display: inline-block;
        }
        &.selected{
          background-color: #f2f4f8;
        }
      }
    }
  }
}
