.category{
  padding: 20px 20px 0;
  background: #f4f8f9;
  font-family: Roboto-Regular,Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;

  .headline{
    overflow: hidden;
    margin-bottom: 16px;
    .left{
      float: left;
      margin-left: 52px;
    }

    .right{
      float: right;
      margin-right: 143px;
    }
  }

  .add{
    background: #fff;
    padding: 16px;
    color:#03A9F4 ;
    margin-bottom: 20px;

    i{
      font-size: 16px;
      margin-right: 16px;
    }

    span{
      font-size: 14px;
      cursor: pointer;
      font-family: Roboto-Medium;
    }
  }

  .add.gr-tp{
    padding: 16px 16px 16px 52px;

    p{
      font-size: 12px;
      color:#03a9f4;
    }

    input{
      border: none;
      border-bottom: 1px solid #03a9f4;
      min-width: 450px;
      display: block;
      margin-bottom: 8px;
      color: #9E9E9E;
    }

    span{
      font-size: 12px;
    }
  }


  .group{
    background: #fff;
    color: #000;
    margin-bottom: 20px;

    .edit{
      color:#03A9F4 ;
      float: right;
      cursor: pointer;
      font-size: 16px;
    }

    .title{
      padding: 16px;
      span{
        font-family: Roboto-Medium;
       // font-weight: 600;
        max-width: calc(100% - 245px);
      }
    }

    i{
      margin-right: 16px;
    }

    .expand{
      border-top: 1px solid #eee;

      .item {
        border-top: 1px solid #eee;
        padding-top: 16px;
        margin-bottom: 16px;

        h5 {
         // font-weight: 600;
          font-family: Roboto-Medium;
          padding: 0px 16px 0px 52px;
          margin: 0px;

          a {
            color:#03A9F4 ;
            float: right;
            cursor: pointer;
            margin-right: 143px;
            font-family: Roboto-Regular;
          }
        }

        .discription{
          padding: 16px 16px 16px 52px;
          margin: 0px;
          max-width: calc(100% - 245px);
        }

        .attach{
          padding: 0px 16px 0px 52px;
          max-width: calc(100% - 245px);

          .file{
            margin-right: 16px;
            display: inline-block;
            margin-bottom: 16px;
            img{
              width: 100px;
              height: 100px;

            }
          }

        }

        .nothing{
          color: #9E9E9E;
          padding: 0px 16px 16px 52px;
          font-family: Roboto-Italic;
        }
      }

      .modify{

        form {
          max-width: calc(100% - 245px);
          padding: 0px 16px 16px 52px;
        }

        label{
          color: #9E9E9E;
          display: block;
          font-size: 12px;
          margin-bottom: 8px;
        }

        input[type="text"]{
          width: 100%;
          border: none;
          border-bottom: 1px solid #eee;
          padding-bottom: 5px;
          margin-bottom: 8px;
        }

        textarea{
          width: 100%;
          border: none;
          border-bottom: 1px solid #eee;
          padding-bottom: 5px;
          margin-bottom: 8px;
        }

        .attach {
          width: 100%;
          padding: 0px;

          .file{
            position: relative;

            .file-attach--overlay{
              outline: none;
              bottom: 0;
              z-index: 5;
              height: 100px;
              width: 100px;
              background: #000;
              opacity: 0.2;
              position: absolute;
              top: 0;
              right: 0;
              display: none;
            }

            i{
              position: absolute;
              top: 0;
              right: 0;
              padding: 5px 5px 0 0;
              z-index: 10;
              cursor: pointer;
              margin-right: 0px;
              color: #eceff4;
              display: none;
            }
          }

          .file:hover{
            .file-attach--overlay{
              display: block;
            }

            i{
              display: block
            }
          }

          .file-attach--new {
            width: 100px;
            height: 100px;
            display: inline-block;
            position: relative;
            margin-bottom: 16px;
            border: 2px dashed #dae0e9;

            i{
              font-size: 36px;
              margin: 0px;
              position: absolute;
              top: 18px;
              right: 33px;
              color: #9E9E9E;
            }

            span{
              position: absolute;
              top: 52px;
              text-align: center;
              font-size: 12px;
              color: #9E9E9E;
            }

            input[type="file"] {
              width: 100px;
              height: 100px;
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              cursor: pointer;
            }
          }

          .file-attach--new:hover {
            border: 2px dashed #0082d5;
          }

        }
      }

      .link{
        color: #03a9f4;
        margin-bottom: 8px;
        cursor: pointer;
      }

      .item.add{
        padding-bottom: 0px;
        border: none;
      }
    }

    .footer{
      button {
        margin-right: 8px;
      }
    }

  }

}
