.lgDialog{
	width: 944px;
}
.tDialog{
	color: #000;
	font-size: 18px;
	line-height: 21px;
    margin-bottom: 0;
}
.bControl{
	height: 400px;
}
.bControl .Select-control{
	height: 20px;
}
.bControl label{
	font-size: 12px;
	color: #9E9E9E;
	letter-spacing: 0;
	margin-bottom: 0;
}
.bControl .Select--single>.Select-control .Select-value, 
.bControl .Select-placeholder{
	font-size: 14px;
	color: #000000;
}
.formSearch .material-icons{
	right: 0;
	left: auto;
}
.formSearch .flex-1{
	padding-right: 20px;
	padding-left: 0;
	margin-top: 3px;
  color: #9E9E9E;
}
.bControl .cbCompany{
	padding: 16px 0;
	border-bottom: 1px solid #EEEEEE;
}
.bControl .Select-control, .bControl .form-control{
	border-bottom: 1px solid #EEEEEE;	
}
.bControl .cbList{
	margin: 16px 0;
}
.cblistcheck h6{
	font-size: 14px;
	color: #000000;
}
.cListChil{
	padding-left: 0;
	padding-right: 8px;
}
.cListChil li{
	list-style: none;
  color: #000;
  font-size: 14px;
  padding: 15px 0;
  box-shadow: inset 0 -1px 0 0 #EEEEEE;
  list-style-position: inside;
}
.cListChil li span{
	padding-right: 16px;
}

/*********TEMPLATE SHOW PROMOTION BANNER**********/
.lineHeader{
	margin: 34px 0 16px 0;
	text-transform: uppercase;
}
.lineHeader .pull-left, .lineHeader .pull-right{
	font-size: 14px;
	color: #616161;
	letter-spacing: 0.1px;
	line-height: 20px;
}
.lineHeader .pull-left{
	padding-left: 55px;
}
.lineHeader .pull-right{
	padding-right: 38px;
}
.addBannerGroup{
	background: #fff;
}
.boxdefault{
	background: #fff;
	padding: 16px;
	box-shadow: inset 0 -1px 0 0 #EEEEEE;
	margin-bottom: 20px;
}
.boxdefault h6, .boxaddhm h6{
	font-size: 14px;
	color: #03A9F4;
	letter-spacing: 0.1px;
	line-height: 14px;
	font-weight: 500;
	margin-bottom: 0;
}
.boxdefault h6 i, .sectionhead h6 i, .boxaddhm h6 i{
	font-size: 20px;
	line-height: 20px;
	vertical-align: text-bottom;
	padding-right: 16px;
}
/*collapse/expanded*/
.main {
  	position: relative;
  	width: 100%;
  	max-width: 100%;
  	/*transform: translate(-50%, -50%);*/
  	overflow: hidden;
}
.section, .sectionChild {
  	position: relative;
  	width: 100%;
  	background: transparent;
    box-shadow: inset 0 -1px 0 0 #EEEEEE;
}
.section .togglebtn, .sectionChild .togglebtn {
    position: absolute;
    left: 0;
    margin: 0;
    line-height: 20px;
    vertical-align: text-bottom;
    margin: 22px 0 12px 24px;
        z-index: 1;
}
.section .togglebtn i, .sectionChild.open .togglebtn i{font-size: 20px;}
.section .togglebtn:before, .sectionChild.open .togglebtn:before{
    content: '';
    display: block;
  	position: absolute;
  	height: 8px;
  	width: 3px;
  	border-radius: .3em;
  	background: rgba(0, 0, 0, 0.9);
  	transform-origin: 50%;
  	transition: all .25s ease-in-out;
  	transform: translate(75%, -50%) rotate(45deg);
    }
.section .togglebtn:after, .sectionChild.open .togglebtn:after {
  	content: '';
  	display: block;
  	position: absolute;
  	height: 8px;
  	width: 3px;
  	border-radius: .3em;
  	background: rgba(0, 0, 0, 0.9);
  	transform-origin: 50%;
  	transition: all .25s ease-in-out;
  	transform: translate(-75%,-50%) rotate(-45deg);
}

.section.open .togglebtn:before, .section.open .togglebtn:after,
.sectionChild .togglebtn:before, .sectionChild .togglebtn:after{
    height: 14px;
}
.section.open .togglebtn:before, 
.sectionChild .togglebtn:before {
    transform: translate(0%, -50%) rotate(-45deg);
}
.section.open .togglebtn:after, 
.sectionChild .togglebtn:after{
    transform: translate(0%, -50%) rotate(45deg);
}
.section.open .articlewrap, .sectionChild .articlewrap {
    max-height: 5000px;
    margin-bottom: 10px;
}
.articlewrap, .sectionChild.open .articlewrap{
  	max-height: 0;
  	overflow: hidden;
  	transition: all .2s ease-in;
}
.sectionhead {
  	width: 100%;
  	background: white;
  	cursor: pointer;
  	padding: 16px;
    box-shadow: inset 0 -1px 0 0 #EEEEEE;
    position: relative;
    margin-bottom: 10px;
}
.section.open, .sectionChild.open{
  margin-bottom: 10px;
}
.section.open .sectionhead, .sectionChild.open .sectionhead{
  margin-bottom: 0;
}
.article {
    /*padding: 32px 0 32px 0px;*/
    color: #333;
    line-height: 1.3;
}

.sectionhead h6, .sectionChild h6{
  font-size: 14px;
  color: #000;
  letter-spacing: 0.1px;
  line-height: 14px;
  font-weight: 600;
  margin-bottom: 0;
  padding-left: 40px;
}
.sectionhead .edittable, .sectionChild .edittable{
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  color: #03A9F4;
  font-size: 20px;
}
.sectionhead h6 i, .sectionChild h6 i{
  font-size: 20px;
  line-height: 20px;
  vertical-align: text-bottom;
  padding-right: 16px;
}
/*end collapse/expanded*/
.grhangmuc{
  margin-bottom: 20px;
}
.grhangmuc label{
  font-size: 12px;
  color: #9E9E9E;
  letter-spacing: 0;
  padding: 0;
  margin-bottom: .5rem;
}
.grhangmuc p{
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0;
  padding-bottom: 9px;
  border-bottom: 1px solid #EEEEEE;
}
.grhangmuc .Select-control{
  height: 20px;
}
.grhangmuc .Select-placeholder{
  font-size: 14px;
  color: #000000;
  line-height: 20px;
}
.grhangmuc .Select--multi .Select-input{
  line-height: 26px;
  margin-left: 0;
}
.smr0{
  padding-right: 0;
  padding-left: 0;
}
/*Block ATTACHMENT*/
.attach{
  margin-top: 16px;
  margin-bottom: 16px;
}
.attach .file{
  width: 100px;
  height: 100px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin-right: 16px;
  border: 1px solid #eee;
  position: relative;
}
.attach .file img{
    height: 100px;
    width: 100%;
}
.attach .file .file-attach--overlay{
  outline: none;
  bottom: 0;
  z-index: 5;
  height: 100px;
  width: 100px;
  background: #000;
  opacity: 0.2;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.attach .file i{
  position: absolute;
    top: 0;
    right: 0;
    padding: 3px 2px;
    z-index: 10;
    cursor: pointer;
    margin-right: 0;
    color: #000;
    background-color: #fff;
    display: none;
    font-size: 14px;
    line-height: 12px;
}
.attach .file:hover .file-attach--overlay, .attach .file:hover i{
   display: block;
}
.file-attach--new {
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
  border: 2px dashed #dae0e9;
}
.file-attach--new i{
  font-size: 36px;
  margin: 0px;
  position: absolute;
  top: 18px;
  right: 33px;
  color: #9E9E9E;
}
.file-attach--new span{
    position: absolute;
    top: 52px;
    text-align: center;
    font-size: 12px;
    color: #9E9E9E;
  }
.file-attach--new input[type="file"] {
    width: 100px;
    height: 100px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
.file-attach--new:hover {
  border: 2px dashed #0082d5;
}
/*END Block ATTACHMENT*/
.lineButton{
  margin: 20px 0;
} 
.bContent{
  padding-left: 52px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #EEEEEE;
  background-color: #fff;
}
.bContent h6{
  font-size: 14px;
  color: #000000;
  line-height: 20px;
  font-weight: 600;
} 
.bContent h5{
  font-size: 14px;
  color: #03A9F4; 
  line-height: 20px;
}
.cnthm{
  font-size: 14px;
  color: #000000;
  line-height: 20px;
}
.boxaddhm{
  background-color: #fff;
  padding: 16px;
  box-shadow: inset 0 -1px 0 0 #EEEEEE;
}
.boxdefault.hidden{
  display: none;
}
.boxdefault.open{
  display: block;
}
.boxAddGroup{
  padding: 0px 0px 16px 52px;
  box-shadow: inset 0 -1px 0 0 #eee;
  margin-bottom: 20px;
  background-color: #fff;
}
.tfNote{
  font-size: 12px;
  color: #9E9E9E;
}
.editBlockHM{
  padding-right: 10px;
}
.editBlockHM i{
  font-size: 20px;
  color: #03a9f4;
}
/*******************CONTENT TABS***********************/
.react-tabs__tab-panel--selected .boxTabs{
  padding: 15px;
  background-color: #fff;
  margin: 20px 0;
}
.boxTabs label{
  font-size: 12px;
  line-height: 12px;
  color: #9E9E9E;
  margin-bottom: 10px;
}
.boxTabs .resultText{
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin-bottom: 16px;
}
.headNote{
  font-size: 14px;
  color: #000000;
  line-height: 20px;
  margin-bottom: 17px;
}
.nTicket{
  font-size: 14px;
  color: #000000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 10px;
}
.nTicket span{
  background: #03a9f4;
  border-radius: 13px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  padding: 6px 0px;
  display: inline-block;
  width: 26px;
  height: 26px;
  text-align: center;
  margin: 0 5px;
}
.scrollBox{
  margin-top: 24px;
  border: 1px solid #EDEDEd;
}
.boxSelTwoWay{
  padding: 15px;
}
.boxSelTwoWay h6, .boxSelTwoWay ul li{
  font-size: 14px;
  color: #000000;
  line-height: 20px;
  list-style: none;
  padding-bottom: 16px;
  margin-bottom: 0;
}
.boxSelTwoWay h6{
  font-weight: 600;
}
.boxSelTwoWay ul{
  padding-left: 10px;
  margin-bottom: 0;
}
.linebtn{
  margin-top: 32px;
  margin-bottom: 32px;
}
.selectTabs{
  font-size: 14px;
  color: #000000;
}
.searchTabs i{
  color: #9E9E9E;
}
.searchTabs label.lbltabs{
  margin-bottom: 4px;
}
.searchTabs .Select-control{
  height: 30px;
}
.searchTabs .Select-placeholder{
      line-height: 36px;
}
.lineHeadCollapse{
  margin-bottom: 15px;
}
.lineHeadCollapse div{
  color: #000;
  font-size: 14px;
  text-transform: inherit;
  color: #616161;
}
.colSTT{padding-right: 0;}
.colReport, .colUpdat, .contentChild .pl0{padding-left: 0;}
.contentChild .pr0{padding-right: 0;}
.contentChild .pl29{padding-left: 29px}
.contentChild .pl8{padding-left: 8px}
.colShop{padding-left: 28px}
.sectionChild .sectionhead h6{padding-left: 0}
.react-tabs__tab-panel--selected .sectionhead h6{
  margin-left: 0;
  padding-left: 0;
  font-weight: 500;
}
.cricle{
  width: 10px;
  border-radius: 200px;
  height: 10px;
  padding: 7px;
  vertical-align: text-top;
  display: inline-block;
  margin-right: 10px;
  margin-left: -5px;
}
.sYellow{
  color: #ffc107;
  background-color: #ffc107;
}
.green{
  color: #8BC34A;
  background-color: #8BC34A;
}
.sectionChild .article{
  background-color: #fff;
}
.contentChild{
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: inset 0 -1px 0 0 #EEEEEE;
}
.contentChild, .contentChild p{
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
}
.contentChild p{
  font-size: 14px;
  color: #9E9E9E;
  line-height: 20px;
  font-style: italic;
}
.attach .fileSmall{
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.attach .fileSmall img{
  max-height: 60px;
}
.attach .fileSmall .file-attach--overlay{
  width: 60px;
  height: 60px;
}
.attachSmall, .detailSmall{
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: normal;
}
.seemore{
  font-size: 14px;
  color: #03A9F4;
  line-height: 20px;
}
.seemore:hover{
  text-decoration: none;
}
.titleBold{
  font-weight: 600;
}