.react-tabs__tab-list {
  border-bottom: 0;
  margin: 10px 0;
  padding: 0;
  height: 48px;
  background: #fff;
}

.react-tabs__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 15px 0;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    color: #616161;
    font-weight: 400;
    margin: 0 15px;
}

.react-tabs__tab--selected {
  background: transparent;
  border: 0;
  border-bottom: 3px solid #03A9F4;
  color: #03A9F4;
  border-radius: 0;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  background-color: transparent;
  padding: 0;

}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

