.mStatusNT .modal-dialog{
    width: 900px;
}
.paymoney .header-bar{
	padding: 0;
}
.paymoney .header-bar h1{
	padding: 6px 10px 7px 0;
    border-right: 1px solid #eee;
    margin-bottom: 0;
}
.paymoney .breadcrumb{
	margin: 9px 0px 9px 10px;
    background-color: transparent;
}
.paymoney .breadcrumb li a{
	color: #757575;
	text-transform: capitalize;
}
.paymoney .breadcrumb li a i{
	padding: 0 7px 0 0;
}
.paymoney .breadcrumb > li + li:before {
    content: "";
}
.paymoney .header-bar .tool-box,
.paymoney .main-search-box{
	margin: 14px 0;
}
.titlepage{
	text-transform: uppercase;
	font-size: 24px;
	color: #000000;
}
.paymoney #example_length,
.paymoney #example_filter,
.paymoney #example_info{display: none;}
.paymoney table.dataTable.nowrap th{
	color: #757575;
	text-align: left;
	padding-left: 0;
	padding: 0 161px 0 0;
}
.paymoney table.dataTable thead th{
	border-bottom: 0;
	background-color: #fff;
} 
.paymoney table.dataTable.no-footer,
.paymoney .dataTables_wrapper.no-footer .dataTables_scrollBody{
	border-bottom: 0;
}
.paymoney table.dataTable tbody td{
	background-color: #fff;
	border-left: 1px solid #ececec;
	border-top: 1px solid #ececec !important;
	border-bottom: 1px solid #ececec;
	min-height: 131px;
}
.paymoney table.dataTable.order-column.stripe tbody tr.odd>td.shop,
.paymoney table.dataTable.order-column.stripe tbody tr.even>td.shop{
	background-color: #fff;
	border-right: 1px solid #ececec;
}
.paymoney table.dataTable{
	margin-top: 0 !important;
}
.paymoney .nshop h5{
	color: #000;
	line-height: 20px;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.1px;
}
.paymoney .nshop p{
	font-size: 12px;
	color: #757575;
	letter-spacing: 0.09px;
	line-height: 16px;
}
.paymoney .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td.waitingxn{
	background: #FFF3E0;
}
.paymoney .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td.waitingxn .wxn, .waitingxn .wxn{
	color: #FF9800;
	font-size: 12px;
	font-weight: 500;
	text-transform: initial;
}
.paymoney .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td.sended{
	background-color: #fff;
}
.paymoney .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td.sended .sendn, .sended .sendn, .dnop .sdnop{
	font-size: 12px;
	color: #8BC34A;
	letter-spacing: 0.09px;
	line-height: 20px;
}
.paymoney .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td.waitinggt{
	background: #E1F5FE;
}
.paymoney .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td.waitinggt .wgt, .waitinggt .wgt, .waitgt .swaitgt{
	font-size: 12px;
	color: #03A9F4;
	letter-spacing: 0.09px;
	line-height: 20px;
}
.paymoney .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td.notsend{
	background: #FFEBEE;
}
.paymoney .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td.notsend .nots, .notsend .nots{
	font-size: 12px;
	color: #F44336;
	letter-spacing: 0.09px;
	line-height: 20px;
}

.paymoney .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td div{
	color: #000;
	font-size: 12px;
	text-transform: uppercase;
}
.paymoney .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td div.bold{
	font-weight: bolder;
}
.paymoney .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody>table>tbody>tr>td i{
	padding-right: 5px;
}
.paymoney .box .dataTables_wrapper{
	position: relative;
}
.paymoney .box .dataTables_wrapper .dataTables_paginate{
	position: absolute;
    top: 0;
    right: 0;
    margin-top: -75px;
    margin-right: 0px;
}
.paymoney .dataTables_wrapper .dataTables_paginate .paginate_button.current{
	display: none;
}
.paymoney .dataTables_wrapper .dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    padding: 0px 5px 0px 5px;
    margin-left: 2px;
    text-align: center;
    cursor: pointer;
    color: #757575 !important;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #EEEEEE;
    font-size: 16px;
}
.paymoney .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, 
.paymoney .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, 
.paymoney .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
	webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.paymoney .fRight{
	position: relative;
}
.paymoney .fRight .btn-today{
	position: absolute;
    right: 0;
    margin-right: 75px;
    top: 0;
    margin-top: 30px;
    background-color: #EEEEEE; 
	color: #000; 
	font-size: 14px;
	text-transform: inherit;
	font-weight: normal;
}
.paymoney .bbTable{
	margin-top: 20px;
	padding-top: 20px;
	border-top: 2px solid #eee;
}
.mStatusNT .modal-header{padding-bottom: 30px;}
.mStatusNT .waitingxn, .mStatusNT .modal-title, .mStatusNT .notsend, .mStatusNT .dnop, .mStatusNT .waitgt{display: inline-block;}
.mStatusNT .waitingxn .wxn i, .mStatusNT .notsend .nots i, .mStatusNT .dnop .sdnop i, .mStatusNT .waitgt .swaitgt i{margin-left: 10px; padding-right: 3px;}
.mStatusNT .btn-ycgt{
	background: #F5F5F5;
	border-radius: 2px;
	color: #757575;
	font-weight: 400;
}
.mStatusNT .btn-xn{
	background: #03A9F4;
	border-radius: 2px;
	color: #fff;
	font-weight: 400;
}
.mStatusNT .tbShop thead tr th,
.mStatusNT .tbShop tbody tr td,
.mStatusNT .tbShoptien thead tr th,
.mStatusNT .tbShoptien tbody tr td{
	background-color: transparent;
	padding: 5px 0 0 0;
	border-top: 0;
}
.mStatusNT .tbShop thead tr th, 
.mStatusNT .tbShoptien thead tr th,
.mStatusNT .fNote label{
	font-size: 12px;
	color: #757575;
	letter-spacing: 0.1px;
	line-height: 16px;
}
.mStatusNT .tbShoptien thead tr th, 
.mStatusNT .tbShoptien tbody tr td.typexn{
	text-transform: uppercase;
	color: #757575;
	    font-weight: 600;
}
.mStatusNT .tbShop tbody tr td, 
.mStatusNT .tbShoptien tbody tr td,
.mStatusNT .tbShoptien tbody tr td.tc,
.mStatusNT .fNote div{
	font-size: 14px;
	color: #000000;
	letter-spacing: 0.1px;
	line-height: 20px;
	font-weight: 600;
	padding-right: 5px;
}
.mStatusNT .tbShoptien tbody tr td{font-weight: normal;}
.mStatusNT .tbShoptien tbody tr td.voucher{color: #f00; font-weight: 600;}
.mStatusNT .tbShoptien tbody tr td input{width: 80%;}
.mStatusNT .tbrShop{
	padding-top: 10px; 
	border-top: 1px solid #EEEEEE;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.mStatusNT .tnshop{
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}
.mStatusNT .modal-body{
	padding-bottom: 10px;
}
.mStatusNT .fNote, .mStatusNT .fdoc{margin-top: 20px;}
.mStatusNT .fdoc label{
	font-size: 12px;
	color: #757575;
	letter-spacing: 0.1px;
	line-height: 16px;
}
.mStatusNT .fdoc .ltitle{
	font-size: 14px;
	color: #000000;
	letter-spacing: 0.1px;
	line-height: 20px;
	font-weight: 600;
	text-transform: uppercase;
}
.mStatusNT .fdoc .ltitle i, .mStatusNT .fimgfiles .pull-right i,
.mStatusNT .fimgfiles .pull-left.text-left i{
	font-size: 16px;
	color: #BDBDBD;
	letter-spacing: 0.08px;
	line-height: 20px;
	margin-right: 5px;
}
.mStatusNT .fviewdown a{
	font-size: 14px;
	color: #03A9F4;
	letter-spacing: 0.1px;
	line-height: 20px;
	padding: 0 5px;
	text-transform: capitalize;
	font-weight: 600;
}
.mStatusNT .form-group .form-control{
	color: #000;
    font-size: 14px;
    font-weight: 500;
    /*height: 30px;*/
}
.mStatusNT .fimgfiles{margin-top: 20px;}
.mStatusNT .fimgfiles .pull-left.text-left{padding-left: 51px;}
.mStatusNT .fimgfiles label, .mStatusNT .fnote label{font-size: 12px;}